@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 id="name"></h2>
<ul>
    <li>Author Name: <span id="autname"></span></li>
    <li>Genre: <span id="gen"></span></li>
    <li>Release Date: <span id="reldate"></span></li>
    <li>Date Added: <span id="adddate"></span></li>
    <li>Numbers in Stock: <span id="number"></span></li>
</ul>
<p>
    <a class="btn btn-primary" href="/books/edit/" id="edit">Edit Book</a>
</p>

@section Scripts
{
    <script>
        $(document).ready(function () {
            $.get("/api/books/@Model", function (data) {
                console.log(data);
                $("#name").append(data.name);
                $("#autname").append(data.authorName);
                $("#gen").append(data.genre);
                $("#reldate").append(data.releaseDate);
                $("#adddate").append(data.dateAdded);
                $("#number").append(data.numberInStock);
                $("#edit").attr("href", "/books/edit/" + data.id);

            });





       })
    </script>
}